.encabezado {
    border-bottom: 1px rebeccapurple solid;
    background-image: url("../img/fondo.png");
    background-color: #10a89b;
    max-height: 80px; /* Define una altura máxima para el encabezado */
    display: flex;
    align-items: center;
    padding: 10px 0; /* Ajusta el padding según sea necesario */
}

.logo-header {
    height: 100px; /* Tamaño original del logo */
    transform: scale(5); /* Escala el logo a 1.5 veces su tamaño original */
    transform-origin: center left; /* Fija el punto de origen de la transformación */
}

.subtitulo {
    font-weight: bolder;
    text-shadow: 1px 1px #fff;
    color: #12837a;
    margin-left: 20px; /* Añade un margen para separar el texto del logo */
}

.subt {
    background-color: rgba(255, 255, 255, 0.5);
}

.pie {
    background-color: #10a89c;
    color: white;
    border-top: 1px rgb(165, 47, 198) solid;
}

main {
    padding-top: 6%;
    background-color: #10a89b5d;
}

footer {
    padding-top: 5%;
    background-color: #10a89b5d;
}

.foto {
    margin-top: 1%;
    margin-left: 2%;
    margin-right: 2%;
}

.hipervinculo {
    color: white;
    font-size: 24px;
}

.logo {
    border-radius: 52%;
}

.articulo {
    border-radius: 10%;
}

.precio {
    font-style: italic;
    color: rgb(116, 110, 110);
}

.descripcion {
    font-size: 1.8rem;
}
